In [3]:
from bs4 import BeautifulSoup, SoupStrainer
import regex
import base64
from datetime import datetime
import ujson
import sqlite3
from functools import reduce
import requests
import string
import pyodbc
import pymysql
from sqlalchemy import create_engine
import urllib.request 
from __future__ import print_function
import csv
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import pprint
import pyperclip
os.chdir('c:\\Users\\Nashrah\\Desktop\\Columbia_QMSS\\Spring 2018 Courses\\RA')

In [4]:
#import csv
print("The directory we are working in is {}".format(os.getcwd()))
mf_data = pd.read_csv("RAtest_sample.csv")
print(type(mf_data))

The directory we are working in is c:\Users\Nashrah\Desktop\Columbia_QMSS\Spring 2018 Courses\RA
<class 'pandas.core.frame.DataFrame'>

In [5]:
#convert csv to dataframe for later use
mf_data_df = pd.DataFrame(data=mf_data)
mf_data_df

,groupname,submissiontype,monthend,link
0,wells fargo funds trust,485APOS,12/31/2009,https://www.sec.gov/Archives/edgar/data/108140...
1,strategic partners opportunity funds,485BPOS,2/28/2002,https://www.sec.gov/Archives/edgar/data/110463...
2,sti classic funds,485APOS,7/31/2001,https://www.sec.gov/Archives/edgar/data/883939...
3,ssga funds,485BPOS,12/31/2002,https://www.sec.gov/Archives/edgar/data/826686...
4,mutual fund series trust,485BPOS,10/31/2014,https://www.sec.gov/Archives/edgar/data/135506...
5,mosaic equity trust,485APOS,2/28/2005,https://www.sec.gov/Archives/edgar/data/710977...

In [6]:
#loop through links to ensure they are valid
links = mf_data_df.link

for link in links:
    response = urllib.request.urlopen(link)
    if response.getcode() == 200:
        print('URL is valid')
    else:
        print('The response code was not 200, but: {}'.format(response.get_code()))

URL is valid
URL is valid
URL is valid
URL is valid
URL is valid
URL is valid

In [7]:
#import csv through dict_reader for web scraping
#easy access to links

import csv
#----------------------------------------------------------------------
def csv_dict_reader(file_obj):
    """
    Read a CSV file using csv.DictReader
    """
    reader = csv.DictReader(file_obj, delimiter=',')
    for line in reader:
        print(line["groupname"]),
        print(line["submissiontype"])
        print(line["monthend"]),
        print(line["link"])
if __name__ == "__main__":
    with open("RAtest_sample.csv") as f_obj:
        csv_dict_reader(f_obj)

wells fargo funds trust
485APOS
12/31/2009
https://www.sec.gov/Archives/edgar/data/1081400/000119312509256878/0001193125-09-256878.txt
strategic partners opportunity funds
485BPOS
2/28/2002
https://www.sec.gov/Archives/edgar/data/1104631/000095013002001024/0000950130-02-001024.txt
sti classic funds
485APOS
7/31/2001
https://www.sec.gov/Archives/edgar/data/883939/000093506901500295/0000935069-01-500295.txt
ssga funds
485BPOS
12/31/2002
https://www.sec.gov/Archives/edgar/data/826686/000104746902008442/0001047469-02-008442.txt
mutual fund series trust
485BPOS
10/31/2014
https://www.sec.gov/Archives/edgar/data/1355064/000091047214004753/0000910472-14-004753.txt
mosaic equity trust
485APOS
2/28/2005
https://www.sec.gov/Archives/edgar/data/710977/000031040705000015/0000310407-05-000015.txt

In [32]:
#official code for processing of single url: name, submission form, and date
url = "https://www.sec.gov/Archives/edgar/data/826686/000104746902008442/0001047469-02-008442.txt"

for i in url:
    response = urllib.request.urlopen(url)
    html = response.read()
    soup = BeautifulSoup(html)
    
    for script in soup(["script", "style"]):
        script.extract()
    text = soup.get_text()
    lines = (line.strip() for line in text.splitlines())
    chunks = (phrase.strip() for line in lines for phrase in line.split("  "))
    text1 = '\n'.join(chunk for chunk in chunks if chunk)
    lines2 = text1.split("\n") 
    
    for item in lines2:
        if item.startswith('COMPANY CONFORMED NAME:'):
            name = item[text.find(":")+1:]
            name_sub = item
        if item.startswith('FORM TYPE:'):
            submissiontype = item[-7:]
        if item.startswith('CONFORMED SUBMISSION TYPE:'):
            c_form = item[text.find(":")+1:]
        if item.startswith('FILED AS OF DATE:'):
            date = item[-8:]
        if item.startswith('FISCAL YEAR END:'):
            f_date = item[-4:]

C:\Users\Nashrah\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\Nashrah\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [33]:
#store sub data per url in dataframe: alter names of databases according to log in chunk below
mf_data3 = []
mf_text3 = []
mf_data3.append((name, name_sub, submissiontype, c_form, date, f_date, text)) 
mf_text3.append((text))
mf_database3 = pd.DataFrame(data=mf_data3, columns=['name','name_sub','submissiontype','c_form','date','f_date','text'])

In [34]:
#temporary log for each file 
#mf_data & database: processed 1 
#mf_data1 & database1: processed 1
#mf_data2 & database2: processed 1
#mf_data3 & database3: processed 1
#mf_data4 & database4: processed 
#mf_data5 & database5: processed 

#combine data into single data frame
dfs = [mf_database,mf_database1,mf_database2,mf_database3,mf_database4,mf_database5]
mf_final = reduce(lambda left,right: pd.merge(left,right,how='outer'), dfs)
mf_final

,name,name_sub,submissiontype,c_form,date,f_date,text
0,WELLS FARGO FUNDS TRUST,COMPANY CONFORMED NAME:\t\t\tWELLS FARGO FUNDS...,485APOS,\t485APOS,20091221,1231,0001193125-09-256878.txt : 20110706\n000119312...
1,UNITY FUNDS,COMPANY CONFORMED NAME:\t\t\tSTRATEGIC PARTNER...,485APOS,,20020220,1231,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...
2,,COMPANY CONFORMED NAME:\t\t\tSTI CLASSIC FUNDS,485APOS,,20010727,0531,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...
3,,COMPANY CONFORMED NAME:\t\t\tSSGA FUNDS,485BPOS,,20021227,0831,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...
4,MUTUAL FUND SERIES TRUST,COMPANY CONFORMED NAME:\t\t\tMUTUAL FUND SERIE...,485BPOS,\t485BPOS,20141029,0630,0000910472-14-004753.txt : 20141029\n000091047...
5,,COMPANY CONFORMED NAME:\t\t\tMOSAIC EQUITY TRUST,485APOS,,20050225,1231,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...

In [35]:
#edit website_dataframe to match for original csv_dataframe
mf_final['new_name'] = mf_final.name_sub.str.slice(start=26, stop=None, step=None)
mf_final['new_date'] = mf_final.date.str.slice(start=None, stop=6, step=None)
sql_mf_final = mf_final.drop(['name','name_sub','date','c_form','f_date'], axis=1) #for future sql table
mf_final2 = mf_final.drop(['name','name_sub','date','c_form','f_date','text'], axis=1)
mf_final2

  submissiontype                              new_name new_date
0        485APOS               WELLS FARGO FUNDS TRUST   200912
1        485APOS  STRATEGIC PARTNERS OPPORTUNITY FUNDS   200202
2        485APOS                     STI CLASSIC FUNDS   200107
3        485BPOS                            SSGA FUNDS   200212
4        485BPOS              MUTUAL FUND SERIES TRUST   201410
5        485APOS                   MOSAIC EQUITY TRUST   200502

In [36]:
#save to csv for record
mf_final2.to_csv('mf_final.csv', index=False)

In [37]:
#edit original CSV_dataframe to match format for website_dataframe
mf_data_df['new_date'] = pd.to_datetime(mf_data_df.monthend).dt.strftime('%Y%m')
mf_data_df['new_name'] = mf_data_df.groupname.str.upper()
mf_data_df = mf_data_df.drop(['groupname','link','monthend'], axis=1)
mf_data_df

  submissiontype new_date                              new_name
0        485APOS   200912               WELLS FARGO FUNDS TRUST
1        485BPOS   200202  STRATEGIC PARTNERS OPPORTUNITY FUNDS
2        485APOS   200107                     STI CLASSIC FUNDS
3        485BPOS   200212                            SSGA FUNDS
4        485BPOS   201410              MUTUAL FUND SERIES TRUST
5        485APOS   200502                   MOSAIC EQUITY TRUST

In [38]:
#generate dataframe which shows values that do not match
no_match_df = pd.merge(mf_final2, mf_data_df, how='left', indicator=True) \
           .query("_merge == 'left_only'") \
           .drop('_merge',1)
no_match_df

  submissiontype                              new_name new_date
1        485APOS  STRATEGIC PARTNERS OPPORTUNITY FUNDS   200202

In [39]:
#or generate dataframe which only shows matching values
match_df = pd.merge(mf_final2, mf_data_df, on=['submissiontype', 'new_name', 'new_date'], how='inner')
match_df

  submissiontype                  new_name new_date
0        485APOS   WELLS FARGO FUNDS TRUST   200912
1        485APOS         STI CLASSIC FUNDS   200107
2        485BPOS                SSGA FUNDS   200212
3        485BPOS  MUTUAL FUND SERIES TRUST   201410
4        485APOS       MOSAIC EQUITY TRUST   200502

In [40]:
c = []
a = len(match_df)
b = len(no_match_df)
c.append((a,b))
check = pd.DataFrame(data=c, columns=['num_match','num_no_match'])
check

   num_match  num_no_match
0          5             1

In [41]:
#save to tables as csv for record
match_df.to_csv('mf_match_df.csv', index=False)
no_match_df.to_csv('mf_no_match_df.csv', index=False)

In [42]:
#dataframe to convert to sql for matching values only
sql_match_df = pd.merge(match_df, sql_mf_final, on=['submissiontype', 'new_name', 'new_date'], how='left')
sql_match_df

,submissiontype,new_name,new_date,text
0,485APOS,WELLS FARGO FUNDS TRUST,200912,0001193125-09-256878.txt : 20110706\n000119312...
1,485APOS,STI CLASSIC FUNDS,200107,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...
2,485BPOS,SSGA FUNDS,200212,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...
3,485BPOS,MUTUAL FUND SERIES TRUST,201410,0000910472-14-004753.txt : 20141029\n000091047...
4,485APOS,MOSAIC EQUITY TRUST,200502,-----BEGIN PRIVACY-ENHANCED MESSAGE-----\nProc...

In [43]:
#set up connection via MySQL to create table with website_dataframe
user = 'root'
passw = 'Eva#1212!'
host =  'localhost'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306
database = 'test'

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False, pool_size=10, max_overflow=0)
mydb

Engine(mysql+pymysql://root:***@localhost:3306/test)

In [44]:
#save pandas dataframe to SQL table: currently does not let me save soup column (sees as null column) & am working on alt method
match_df.to_sql('match_mutualfunds_df', con=mydb, if_exists='replace') #example using subset of data

In [81]:
#unable to save table with text included 
#sql_match_df.to_sql('sql_match_mf_df', con=mydb, if_exists='replace') #example using subset of data

In [45]:
connection = pymysql.connect(
                host = 'localhost',
                user = 'root',
                passwd = 'Eva#1212!')  # create the connection

cursor = connection.cursor()     # get the cursor

cursor.execute("USE test") # select the database

cursor.execute("SHOW TABLES") 
tables = cursor.fetchall()
tables #check: table saved in database

(('match_mutualfunds_df',),)

In [46]:
#add text column for text data into SQL table
key = 'text'

query = "ALTER TABLE match_mutualfunds_df ADD %s LONGTEXT" % (key)
cursor.execute(query)

0

In [54]:
#Check data was stored successfully
cursor.execute("SELECT * FROM match_mutualfunds_df")
data = cursor.fetchall()
data

((0, '485APOS', 'WELLS FARGO FUNDS TRUST', '200912', None),
 (1, '485APOS', 'STI CLASSIC FUNDS', '200107', None),
 (2, '485BPOS', 'SSGA FUNDS', '200212', None),
 (3, '485BPOS', 'MUTUAL FUND SERIES TRUST', '201410', None),
 (4, '485APOS', 'MOSAIC EQUITY TRUST', '200502', None))

In [57]:
#attempt to insert text data but stil incurring issues with format 
data = sql_match_df.text
sql = "INSERT INTO match_mf_df(test_text) VALUES(%s, %s, %s, %s, %s)"
cursor.executemany(sql, data)